node_modules
.env

package-lock.json

# Hardhat files
/cache
/artifacts

# Hardhat build artifacts
/hardhat-cache
/bin

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
