# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de IPFS
IPFS_API_URL=http://127.0.0.1:5001/api/v0 # URL de la API de IPFS (local o Infura/Pinata)

# Configuración de la blockchain
NODE_RPC_URL=http://127.0.0.1:8545 # URL del nodo RPC (local o testnet)
OPERATOR_PRIVATE_KEY=
CONTRACT_ADDRESS=

# Configuración de SIMIT/Apitude
SIMIT_API_BASE_URL=https://apitude.co/es/docs/services/simit-co # URL base de la API de SIMIT
SIMIT_API_KEY=YOUR_SIMIT_API_KEY # Clave de la API de SIMIT